.mdmp_plantilla{ background:url("mdmp_plantilla.png") top left no-repeat; }
.mdmp_plantilla_timeout_big{ width:45px; height:45px; background-position:-10px -10px; }
.mdmp_plantilla_feature_big:hover{ width:45px; height:45px; background-position:-10px -65px; }
.mdmp_plantilla_feature_medium:hover{ width:45px; height:45px; background-position:-10px -120px; }
.mdmp_plantilla_feature_short:hover{ width:45px; height:45px; background-position:-10px -175px; }
.mdmp_plantilla_feature_big{ width:45px; height:45px; background-position:-10px -230px; }
.mdmp_plantilla_feature_medium{ width:45px; height:45px; background-position:-10px -285px; }
.mdmp_plantilla_feature_short{ width:45px; height:45px; background-position:-10px -340px; }
.mdmp_plantilla_remRect_trans{ width:45px; height:45px; background-position:-10px -395px; }
.mdmp_plantilla_remPoint_trans{ width:45px; height:45px; background-position:-10px -450px; }
.mdmp_plantilla_addPoly_trans{ width:45px; height:45px; background-position:-10px -505px; }
.mdmp_plantilla_addRect_trans{ width:45px; height:45px; background-position:-10px -560px; }
.mdmp_plantilla_cal_big{ width:45px; height:45px; background-position:-10px -615px; }
.mdmp_plantilla_addPoint_trans{ width:45px; height:45px; background-position:-10px -670px; }
.mdmp_plantilla_sede_trans{ width:45px; height:45px; background-position:-10px -725px; }
.mdmp_plantilla_cut_big{ width:45px; height:45px; background-position:-10px -780px; }
.mdmp_plantilla_userGroup{ width:45px; height:45px; background-position:-10px -835px; }
.mdmp_plantilla_remPoly_trans{ width:45px; height:45px; background-position:-10px -890px; }
.mdmp_plantilla_useSecure{ width:45px; height:45px; background-position:-10px -945px; }
.mdmp_plantilla_mzn_point_trans{ width:45px; height:45px; background-position:-10px -1000px; }
.mdmp_plantilla_icon_xls2:hover{ width:30px; height:30px; background-position:-10px -1055px; }
.mdmp_plantilla_icon_xls2{ width:30px; height:30px; background-position:-10px -1095px; }
.mdmp_plantilla_cal:hover{ width:30px; height:30px; background-position:-10px -1135px; }
.mdmp_plantilla_cal{ width:30px; height:30px; background-position:-10px -1175px; }
.mdmp_plantilla_icon_pdf:hover{ width:30px; height:30px; background-position:-10px -1215px; }
.mdmp_plantilla_icon_pdf{ width:30px; height:30px; background-position:-10px -1255px; }
.mdmp_plantilla_icon_xls:hover{ width:30px; height:30px; background-position:-10px -1295px; }
.mdmp_plantilla_icon_xls{ width:30px; height:30px; background-position:-10px -1335px; }
.mdmp_plantilla_icon_dbf:hover{ width:30px; height:30px; background-position:-10px -1375px; }
.mdmp_plantilla_icon_dbf{ width:30px; height:30px; background-position:-10px -1415px; }
.mdmp_plantilla_icon_doc:hover{ width:30px; height:30px; background-position:-10px -1455px; }
.mdmp_plantilla_icon_doc{ width:30px; height:30px; background-position:-10px -1495px; }
.mdmp_plantilla_viewHome:hover{ width:30px; height:30px; background-position:-10px -1535px; }
.mdmp_plantilla_viewHome{ width:30px; height:30px; background-position:-10px -1575px; }
.mdmp_plantilla_icon_parribo{ width:30px; height:30px; background-position:-10px -1615px; }
.mdmp_plantilla_icon_mineria{ width:30px; height:30px; background-position:-10px -1655px; }
.mdmp_plantilla_house_extract{ width:30px; height:30px; background-position:-10px -1695px; }
.mdmp_plantilla_cut{ width:30px; height:30px; background-position:-10px -1735px; }
.mdmp_plantilla_remHouse_mark{ width:30px; height:30px; background-position:-10px -1775px; }
.mdmp_plantilla_house_mark:hover{ width:30px; height:30px; background-position:-10px -1815px; }
.mdmp_plantilla_house_mark{ width:30px; height:30px; background-position:-10px -1855px; }
.mdmp_plantilla_icon_pesca{ width:30px; height:30px; background-position:-10px -1895px; }
.mdmp_plantilla_cut:hover{ width:30px; height:30px; background-position:-10px -1935px; }
.mdmp_plantilla_icon_transMar{ width:30px; height:30px; background-position:-10px -1975px; }
.mdmp_plantilla_house_closeWhite:hover{ width:30px; height:30px; background-position:-10px -2015px; }
.mdmp_plantilla_house_closeWhite{ width:30px; height:30px; background-position:-10px -2055px; }
.mdmp_plantilla_house_closeBlack:hover{ width:30px; height:30px; background-position:-10px -2095px; }
.mdmp_plantilla_house_closeBlack{ width:30px; height:30px; background-position:-10px -2135px; }
.mdmp_plantilla_house_extract:hover{ width:30px; height:30px; background-position:-10px -2175px; }
.mdmp_plantilla_remHouse_mark:hover{ width:30px; height:30px; background-position:-10px -2215px; }

