.workloadForm{ background:url("workloadForm.png") top left no-repeat; }
.workloadForm-selected{ width:60px; height:60px; background-position:-10px -10px; }
.workloadForm-assigned:hover{ width:60px; height:60px; background-position:-10px -80px; }
.workloadForm-free:hover{ width:60px; height:60px; background-position:-10px -150px; }
.workloadForm-selected:hover{ width:60px; height:60px; background-position:-10px -220px; }
.workloadForm-free{ width:60px; height:60px; background-position:-10px -290px; }
.workloadForm-assigned{ width:60px; height:60px; background-position:-10px -360px; }
.workloadForm-cut-names{ width:50px; height:50px; background-position:-10px -430px; }
.workloadForm-cut-charge{ width:50px; height:50px; background-position:-10px -490px; }
.workloadForm-back:hover{ width:16px; height:50px; background-position:-10px -550px; }
.workloadForm-back{ width:16px; height:50px; background-position:-36px -550px; }
.workloadForm-arrow-left{ width:30px; height:30px; background-position:-10px -610px; }
.workloadForm-add:hover{ width:30px; height:30px; background-position:-10px -650px; }
.workloadForm-add{ width:30px; height:30px; background-position:-10px -690px; }
.workloadForm-info:hover{ width:30px; height:30px; background-position:-10px -730px; }
.workloadForm-info{ width:30px; height:30px; background-position:-10px -770px; }
.workloadForm-home-red:hover{ width:30px; height:30px; background-position:-10px -810px; }
.workloadForm-home-red{ width:30px; height:30px; background-position:-10px -850px; }
.workloadForm-home:hover{ width:30px; height:30px; background-position:-10px -890px; }
.workloadForm-home{ width:30px; height:30px; background-position:-10px -930px; }
.workloadForm-zoom:hover{ width:30px; height:30px; background-position:-10px -970px; }
.workloadForm-zoom{ width:30px; height:30px; background-position:-10px -1010px; }
.workloadForm-cancel:hover{ width:30px; height:30px; background-position:-10px -1050px; }
.workloadForm-cancel{ width:30px; height:30px; background-position:-10px -1090px; }
.workloadForm-ok:hover{ width:30px; height:30px; background-position:-10px -1130px; }
.workloadForm-ok{ width:30px; height:30px; background-position:-10px -1170px; }
.workloadForm-close:hover{ width:30px; height:30px; background-position:-10px -1210px; }
.workloadForm-close{ width:30px; height:30px; background-position:-10px -1250px; }
.workloadForm-arrow-right:hover{ width:30px; height:30px; background-position:-10px -1290px; }
.workloadForm-arrow-right{ width:30px; height:30px; background-position:-10px -1330px; }
.workloadForm-arrow-left:hover{ width:30px; height:30px; background-position:-10px -1370px; }
.workloadForm-user{ width:28px; height:28px; background-position:-10px -1410px; }
.workloadForm-company{ width:28px; height:28px; background-position:-10px -1448px; }
.workloadForm-move{ width:28px; height:28px; background-position:-10px -1486px; }

