.dottedLine-continue{
	background:url("lineDotted_continued.png") top left no-repeat; 
	background-position:-0px -10px; 
	}
.dottedLine-corner{ 
	background:url("lineDotted.png") top left no-repeat; 
	background-position:-0px -10px; 
	}

