@charset "utf-8";
	.sprite-cfepade-grid:hover
{
	background-image : url(sprite-cwidgetbase-grid--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cfepade-globe
{
	background-image : url(sprite-cwidgetbase-globe.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-globe:hover
{
	background-image : url(sprite-cwidgetbase-globe--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-grid
{
	background-image : url(sprite-cwidgetbase-grid.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cfepade-doc-csv:hover
{
	background-image : url(sprite-cwidgetbase-doc-csv--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-doc-pdf:hover
{
	background-image : url(sprite-cwidgetbase-doc-pdf--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-doc-pdf-mini:hover
{
	background-image : url(sprite-cwidgetbase-doc-pdf-mini--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-graph-mini:hover
{
	background-image : url(sprite-cwidgetbase-graph-mini--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cfepade-doc-xls:hover
{
	background-image : url(sprite-cwidgetbase-doc-xls--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-modify:hover
{
	background-image : url(sprite-cwidgetbase-modify--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-sclose
{
	background-image : url(sprite-cwidgetbase-sclose.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-sdown
{
	background-image : url(sprite-cwidgetbase-sdown.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-sdown:hover
{
	background-image : url(sprite-cwidgetbase-sdown--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-sleft
{
	background-image : url(sprite-cwidgetbase-sleft.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-sleft:hover
{
	background-image : url(sprite-cwidgetbase-sleft--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-info
{
	background-image : url(sprite-cwidgetbase-info.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-ok:hover
{
	background-image : url(sprite-cwidgetbase-ok--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-circle
{
	background-image : url(sprite-cwidgetbase-circle.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-ok
{
	background-image : url(sprite-cwidgetbase-ok.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-sright
{
	background-image : url(sprite-cwidgetbase-sright.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-bback
{
	background-image : url(sprite-cwidgetbase-bback.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-info:hover
{
	background-image : url(sprite-cwidgetbase-info--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-doc-csv
{
	background-image : url(sprite-cwidgetbase-doc-csv.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-doc-pdf
{
	background-image : url(sprite-cwidgetbase-doc-pdf.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-graph-mini
{
	background-image : url(sprite-cwidgetbase-graph-mini.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cfepade-ok-nm:hover
{
	background-image : url(sprite-cwidgetbase-ok-nm--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-ok-nm
{
	background-image : url(sprite-cwidgetbase-ok-nm.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-bback:hover
{
	background-image : url(sprite-cwidgetbase-bback--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-forward
{
	background-image : url(sprite-cwidgetbase-forward.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-geo
{
	background-image : url(sprite-cwidgetbase-geo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-doc-pdf-mini
{
	background-image : url(sprite-cwidgetbase-doc-pdf-mini.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-graph
{
	background-image : url(sprite-cwidgetbase-graph.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-vars:hover
{
	background-image : url(sprite-cwidgetbase-vars--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-binfo
{
	background-image : url(sprite-cwidgetbase-binfo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-modify
{
	background-image : url(sprite-cwidgetbase-modify.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-vars
{
	background-image : url(sprite-cwidgetbase-vars.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-ok-m
{
	background-image : url(sprite-cwidgetbase-ok-m.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-doc-xls
{
	background-image : url(sprite-cwidgetbase-doc-xls.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-bdown
{
	background-image : url(sprite-cwidgetbase-bdown.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-ok-m:hover
{
	background-image : url(sprite-cwidgetbase-ok-m--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-down:hover
{
	background-image : url(sprite-cwidgetbase-down--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-graph:hover
{
	background-image : url(sprite-cwidgetbase-graph--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-down
{
	background-image : url(sprite-cwidgetbase-down.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-geo:hover
{
	background-image : url(sprite-cwidgetbase-geo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-bup:hover
{
	background-image : url(sprite-cwidgetbase-bup--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-binfo:hover
{
	background-image : url(sprite-cwidgetbase-binfo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-bdown:hover
{
	background-image : url(sprite-cwidgetbase-bdown--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-bup
{
	background-image : url(sprite-cwidgetbase-bup.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cfepade-sclose:hover
{
	background-image : url(sprite-cwidgetbase-sclose--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-sright:hover
{
	background-image : url(sprite-cwidgetbase-sright--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cfepade-circle:hover
{
	background-image : url(sprite-cwidgetbase-circle--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cfepade-forward:hover
{
	background-image : url(sprite-cwidgetbase-forward--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-ecoTool-babout
{
	background-image : url(sprite-ecoTool-babout.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-ecoTool-babout:hover
{
	background-image : url(sprite-ecoTool--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
