.widget_ecoPanel{ background:url("widget_ecoPanel.png") top left no-repeat; }
.ecoPanel_bg_num{ width:35px; height:35px; background-position:-10px -10px; }
.ecoPanel_bg_num:hover{ width:35px; height:35px; background-position:-10px -55px; }
.ecoPanel_med_lock:hover{ width:30px; height:30px; background-position:-10px -100px; }
.ecoPanel_med_accepted{ width:30px; height:30px; background-position:-10px -140px; }
.ecoPanel_med_lock{ width:30px; height:30px; background-position:-10px -180px; }
.ecoPanel_med_cut:hover{ width:30px; height:30px; background-position:-10px -220px; }
.ecoPanel_med_cut{ width:30px; height:30px; background-position:-10px -260px; }
.widget_ecoPanel_med_help:hover{ width:30px; height:30px; background-position:-10px -300px; }
.ecoPanel_med_help{ width:30px; height:30px; background-position:-10px -340px; }
.ecoPanel_med_home:hover{ width:30px; height:30px; background-position:-10px -380px; }
.ecoPanel_med_home{ width:30px; height:30px; background-position:-10px -420px; }
.ecoPanel_med_endAct:hover{ width:30px; height:30px; background-position:-10px -460px; }
.ecoPanel_med_endAct{ width:30px; height:30px; background-position:-10px -500px; }
.ecoPanel_med_report:hover{ width:30px; height:30px; background-position:-10px -540px; }
.ecoPanel_med_report{ width:30px; height:30px; background-position:-10px -580px; }
.ecoPanel_med_edit:hover{ width:30px; height:30px; background-position:-10px -620px; }
.ecoPanel_med_edit{ width:30px; height:30px; background-position:-10px -660px; }
.ecoPanel_med_accepted:hover{ width:30px; height:30px; background-position:-10px -700px; }
.ecoPanel_sh_report:hover{ width:20px; height:20px; background-position:-10px -740px; }
.ecoPanel_sh_report{ width:20px; height:20px; background-position:-10px -770px; }
.ecoPanel_sh_circle_rhome:hover{ width:20px; height:20px; background-position:-10px -800px; }
.ecoPanel_sh_circle_rhome{ width:20px; height:20px; background-position:-10px -830px; }
.ecoPanel_sh_circle_home:hover{ width:20px; height:20px; background-position:-10px -860px; }
.ecoPanel_sh_user{ width:20px; height:20px; background-position:-10px -890px; }
.ecoPanel_sh_mark:hover{ width:20px; height:20px; background-position:-10px -920px; }
.ecoPanel_sh_mark{ width:20px; height:20px; background-position:-10px -950px; }
.ecoPanel_sh_circle_close:hover{ width:20px; height:20px; background-position:-10px -980px; }
.ecoPanel_sh_circle_close{ width:20px; height:20px; background-position:-10px -1010px; }
.ecoPanel_sh_circle_info:hover{ width:20px; height:20px; background-position:-10px -1040px; }
.ecoPanel_sh_circle_info{ width:20px; height:20px; background-position:-10px -1070px; }
.ecoPanel_sh_circle_search:hover{ width:20px; height:20px; background-position:-10px -1100px; }
.ecoPanel_sh_circle_search{ width:20px; height:20px; background-position:-10px -1130px; }
.ecoPanel_sh_wback:hover{ width:20px; height:20px; background-position:-10px -1160px; }
.ecoPanel_sh_wback{ width:20px; height:20px; background-position:-10px -1190px; }
.ecoPanel_sh_wclose:hover{ width:20px; height:20px; background-position:-10px -1220px; }
.ecoPanel_sh_wclose{ width:20px; height:20px; background-position:-10px -1250px; }
.ecoPanel_sh_print{ width:20px; height:20px; background-position:-10px -1280px; }
.ecoPanel_sh_user:hover{ width:20px; height:20px; background-position:-10px -1310px; }
.ecoPanel_sh_circle_home{ width:20px; height:20px; background-position:-10px -1340px; }
.ecoPanel_sh_print:hover{ width:20px; height:20px; background-position:-10px -1370px; }

