@charset "utf-8";
	.sprite-mor-modify:hover
{
	background-image : url(sprite-mor-modify--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 19px;
}
.sprite-mor-ok
{
	background-image : url(sprite-mor-ok.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.st0
{
	background : #020000;
	background : rgba(2, 0, 0, 1);
	width : 16px;
	height : 19px;
}
.sprite-mor-down
{
	background-image : url(sprite-mor-down.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-info
{
	background-image : url(sprite-mor-info.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-grid
{
	background-image : url(sprite-mor-grid.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.st1
{
	background : #080607;
	background : rgba(8, 6, 7, 1);
	opacity : 0;
	width : 27px;
	height : 27px;
	filter: alpha(opacity=0) progid:DXImageTransform.Microsoft.Alpha(opacity=0) ;
}
.sprite-mor-play
{
	background-image : url(sprite-mor-play.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.st2
{
	background : #080607;
	background : rgba(8, 6, 7, 1);
	opacity : 0;
	width : 27px;
	height : 27px;
	filter: alpha(opacity=0) progid:DXImageTransform.Microsoft.Alpha(opacity=0) ;
}
.sprite-mor-geo
{
	background-image : url(sprite-mor-geo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-bup
{
	background-image : url(sprite-mor-bup.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-modify
{
	background-image : url(sprite-mor-modify.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-graph2
{
	background-image : url(sprite-mor-graph2.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 28px;
}
.sprite-mor-graph2:hover
{
	background-image : url(sprite-mor-graph2--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 28px;
}
.sprite-mor-confmain
{
	background-image : url(sprite-mor-confmain.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 28px;
}
.sprite-mor-big-info
{
	background-image : url(sprite-mor-big-info.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-mor-confmain:hover
{
	background-image : url(sprite-mor-confmain--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 28px;
}
.sprite-mor-big-info:hover
{
	background-image : url(sprite-mor-big-info--hover.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-mor-legend
{
	background-image : url(sprite-mor-legend.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-mor-swap:hover
{
	background-image : url(sprite-mor-swap--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-pause
{
	background-image : url(sprite-mor-pause.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-sort-numr
{
	background-image : url(sprite-mor-sort-numr.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-sort-alphar
{
	background-image : url(sprite-mor-sort-alphar.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-sort-alpha
{
	background-image : url(sprite-mor-sort-alpha.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-grid:hover
{
	background-image : url(sprite-mor-grid--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-sort-num
{
	background-image : url(sprite-mor-sort-num.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-graph-mini:hover
{
	background-image : url(sprite-mor-graph-mini--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-graph-mini
{
	background-image : url(sprite-mor-graph-mini.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-doc-pdf-mini:hover
{
	background-image : url(sprite-mor-doc-pdf-mini--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-doc-pdf:hover
{
	background-image : url(sprite-mor-doc-pdf--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-doc-pdf-mini
{
	background-image : url(sprite-mor-doc-pdf-mini.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-doc-pdf
{
	background-image : url(sprite-mor-doc-pdf.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-doc-csv
{
	background-image : url(sprite-mor-doc-csv.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-doc-xls:hover
{
	background-image : url(sprite-mor-doc-xls--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-doc-csv:hover
{
	background-image : url(sprite-mor-doc-csv--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-doc-xls
{
	background-image : url(sprite-mor-doc-xls.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-binfo:hover
{
	background-image : url(sprite-mor-binfo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-binfo
{
	background-image : url(sprite-mor-binfo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-graph:hover
{
	background-image : url(sprite-mor-graph--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-geo:hover
{
	background-image : url(sprite-mor-geo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-down:hover
{
	background-image : url(sprite-mor-down--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-graph
{
	background-image : url(sprite-mor-graph.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-bup:hover
{
	background-image : url(sprite-mor-bup--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-bdown:hover
{
	background-image : url(sprite-mor-bdown--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-forward:hover
{
	background-image : url(sprite-mor-forward--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-forward
{
	background-image : url(sprite-mor-forward.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-bdown
{
	background-image : url(sprite-mor-bdown.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-bback:hover
{
	background-image : url(sprite-mor-bback--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-bback
{
	background-image : url(sprite-mor-bback.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-mor-circle:hover
{
	background-image : url(sprite-mor-circle--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-info:hover
{
	background-image : url(sprite-eod-info--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-backm-hover
{
	background-image : url(sprite-mor-backm-hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-circle
{
	background-image : url(sprite-mor-circle.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-ok:hover
{
	background-image : url(sprite-mor-ok--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-mor-close:hover
{
	background-image : url(sprite-mor-close--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-close
{
	background-image : url(sprite-mor-close.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-sright:hover
{
	background-image : url(sprite-mor-sright--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-backm
{
	background-image : url(sprite-mor-backm.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-mor-sleft:hover
{
	background-image : url(sprite-mor-sleft--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-sleft
{
	background-image : url(sprite-mor-sleft.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-sdown:hover
{
	background-image : url(sprite-mor-sdown--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-sright
{
	background-image : url(sprite-mor-sright.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-sdown
{
	background-image : url(sprite-mor-sdown.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-sclose
{
	background-image : url(sprite-mor-sclose.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-sclose:hover
{
	background-image : url(sprite-mor-sclose--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-mor-legend:hover
{
	background-image : url(sprite-mor-legend--hover.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
